In [1]:
import pandas as pd
import numpy as np

import os, sys

# import sklearn
# import tensorflow as tf

#add my own file with custom utility functions as a module
utils_path = os.path.normpath(os.path.abspath(os.path.join(os.path.dirname('__file__'), os.path.pardir, 'aku_utils')))
if utils_path not in sys.path:
    sys.path.append(utils_path)

import aku_utils as ak

# pandas options
pd.options.display.max_columns = 100
pd.options.display.max_rows =  200
# pd.options.display.max_info_rows = 1690785
pd.options.display.max_info_columns = 200
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.date_dayfirst = True
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv(r'D:\VS Code projects\Telco customer churn\data\telco_processed.csv')
df.head()

In [24]:
out1 = df.groupby(['churn_label', 'married'], as_index=False).size()
out1

   churn_label  married  size
0            0        0  2441
1            0        1  2733
2            1        0  1200
3            1        1   669

In [21]:
out2 = df.groupby('churn_label', as_index=False).size()
out2

   churn_label  size
0            0  5174
1            1  1869